
.spinner-border.spinner-border-sm {
    vertical-align: middle;
    margin-bottom: 1px;
}

/*--------------------------------------------------------------
# Profile image
--------------------------------------------------------------*/
.profile-full img {
    max-width: 150px;
    max-height: 150px;
    border: 2px solid #08a2fc;
}
